@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pragati+Narrow:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

